@import url('https://fonts.googleapis.com/css?family=Alegreya:400,700&display=swap&subset=greek,greek-ext');
@import url('https://fonts.googleapis.com/css?family=Crimson+Pro:500,500i&display=swap&subset=latin-ext');

* {
	font-size: calc(20px + (30 - 20) * ((100vw - 750px) / (1600 - 750)));
	padding: 0;
	margin: 0;
}

body {
	font-family: "Crimson Pro", system-ui, -apple-system, BlinkMacSystemFont;
	background-color: #FFFFFF;
}

p {
	position: relative;
}

/*
p[data-ln]::before {
	position: absolute;
	left: -5rem;
	font-size: .6rem;
	top: 3px;
	font-weight: bold;
	color: #000000;
	content: attr(data-ln);
	width: 3rem;
	font-feature-settings: "lnum", "tnum";
	text-align: right;
	text-indent: 0;
}

span[data-p]::before {
	display: inline-block;
	font-size: .6rem;
	font-weight: bold;
	color: red;
	content: attr(data-p);
	padding: 0 15px 0 5px;
	font-feature-settings: "lnum", "tnum";
}
*/

span.number {
	display: run-in;
	font-family: system-ui, -apple-system, BlinkMacSystemFont;
	font-size: .5rem;
	font-weight: bold;
	color: red;
	padding: 0;
	font-variant-numeric: lining-nums proportional-nums;
}

#container span:hover {
	border-bottom: 3px dotted #CA1E47;
	color: #CA1E47;
}

#DL10 > div {
	text-indent: 1.5rem;
	line-height: calc(40px + (50 - 40) * ((100vw - 750px) / (1600 - 750)));
}

.indent {
	text-indent: 1.5rem;
}

.center {
	text-align: center;
}

.entry{
	font-family: 'Alegreya';
	font-size: 1.3rem;
	line-height: 1.5rem;
}

b {font-family: 'Alegreya'}

em {
	font-style: italic;
	font-size: inherit;
}

.smallcaps {
	font-variant-caps: all-small-caps;
	font-variant-numeric: oldstyle-nums proportional-nums;
}

#centerer {
	box-sizing: border-box;
	top:0;
	left:0;
	height:4.5rem;
	padding: .75rem 0 .75rem 30px;
	background-color: #d5f2fa;
	box-shadow: -2px 2px 2px 0px #133441;
	position: -webkit-sticky;
	position: sticky;
	overflow: hidden;
	z-index: 250;
}

ul{
	list-style-type: none;
	line-height: 1.1rem;
	/* overflow-x: hidden; */
	margin: auto;
	color: #213450;
	width: 24rem;
	padding-left: 25px;
}

li{
	font-size: .9rem;
}

h1 {
	font-weight: normal;
	font-size: 1.1rem;
	line-height: 1.2rem;
	padding: 30px 25px 25px 0;
	background-color:#213450;
	color: #ffffff;
	text-align: center;
}

#container {
	font-family: 'Alegreya';
	margin: 60px auto 150px;
	max-width: 28rem;
}

section {
	padding: 25px 30px 40px;
	/* margin-left: 3rem; */
	background-color: #ffffff;
}

section+section {
	margin-top: 25px;
}

h1+section {
	margin-top: 20px;
}

.elegiac:nth-child(odd){
	text-indent:1.5rem;
}

/* .infoboxGreek{font-family: "ZephText";} */